<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/main}">
<head>
    <meta charset="UTF-8">
    <title layout:fragment="title">회원가입</title>

    <th:block layout:fragment="css">
        <link rel="stylesheet" href="/css/join.css">
    </th:block>
    <th:block layout:fragment="script">
        <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
        <script th:inline="javascript">
            $(function() {
                $('#profileImageUrl').on('change', function(event) {
                    var file = event.target.files[0];
                    if (file) {
                        var reader = new FileReader();
                        reader.onload = function(e) {
                            $('#imagePreview').html('<img src="' + e.target.result + '" style="max-width: 100%; max-height: 200px; border: 1px solid #ccc; padding: 5px; margin-top: 10px;">');
                        };
                        reader.readAsDataURL(file);
                    }
                });
            });
        </script>
    </th:block>
</head>

<body>
<div layout:fragment="main" id="main">
    <div id="joinWrap">
        <div id="joinForm">
            <form method="post" action="/member/join" th:object="${joinDto}" enctype="multipart/form-data">
<!--                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">-->
                <div class="formData">
                    <div class="inputField">
                        <label th:for="userId">아이디</label>
                        <input type="text" th:field="*{userId}" class="formInput"
                               placeholder="아이디를 입력하세요">
                        <p th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"
                           class="fieldError"></p>
                    </div>
                    <div class="inputField">
                        <label th:for="password">비밀번호</label>
                        <input type="password" th:field="*{password}" class="formInput"
                               placeholder="비밀번호를 입력하세요">
                        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                           class="fieldError"></p>
                    </div>
                    <div class="inputField">
                        <label for="confirmpassword">비밀번호 확인</label>
                        <input type="password" id="confirmpassword" class="formInput"
                               placeholder="비밀번호 확인, 다시 입력하세요">
                    </div>
                    <div class="inputField">
                        <label th:for="nickName">닉네임</label>
                        <input type="text" th:field="*{nickName}" class="formInput"
                               placeholder="닉네임을 입력하세요">
                        <p th:if="${#fields.hasErrors('nickName')}" th:errors="*{nickName}"
                           class="fieldError"></p>
                    </div>
                    <div class="inputField">
                        <label th:for="intro">소개</label>
                        <input type="text" th:field="*{intro}" class="formInput" placeholder="자기 소개&설명을 입력하세요">
                    </div>
                    <div class="inputField">
                        <label th:for="email">이메일</label>
                        <input type="email" th:field="*{email}" class="formInput"
                               placeholder="이메일을 입력하세요">
                        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                           class="fieldError"></p>
                    </div>
                    <div class="inputField">
                        <label th:for="profileImage">프로필 이미지</label>
                        <input type="file" id="profileImageUrl" th:field="*{profileImageUrl}" class="formInput" accept="image/*" required>
                        <p th:if="${#fields.hasErrors('profileImageUrl')}" th:errors="*{profileImageUrl}"
                           class="fieldError"></p>
                        <div id="imagePreview" class="imagePreview"></div>
                    </div>
                    <div class="joinBt">
                        <button id="btn-join" type="submit">회원가입</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
