textarea{
    resize: none;
}
#detailWrap{
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 40px;
    margin: 40px auto;
    max-width: 1000px;
    width: 100%;
}

/* 방명록 주인 프로필 */
#profCard{
    border: 1px solid #007bff;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
}
#profIcon{
    height: 130px;
    width: 130px;
    border: 1px solid gray;
}
#profDetail{
    width: calc(100% - 130px);
    text-align: center;
    align-items: center;
}

/* 입력창 */
#inputGuestbook{
    width: 100%;
    height: 100px;
    display: flex;
    border-radius: 10px;
    margin-bottom: 30px;
}
#introInput{
    width: 80%;
    outline: none;
    padding: 10px;
}
#introBT{
    width: 20%;
}
.guestbook{
    position: relative;
    margin: 10px 0;
    border-top: 1px dotted gray;
}
.guestContent{
    display: flex;
    padding: 10px;
}
.guestIcon{
    width: 100px;
    height: 100px;
    border: 1px solid gray;
}
.guestBody{
    width: calc(100% - 100px);
    padding: 0 10px;
    margin-left: 10px;
    margin-right: 30px;
}
.notify{
    color: red;
    position: absolute;
    top: 5px;
    right: 0;
    padding: 5px;
}