*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    color: orange;
}
#wrap{
    width: 80%;
    margin: 0 auto;
    position: relative;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}
/* header 스타일 */
#header{
    padding: 15px 0;
    position: sticky;
    top: 0;
    background: white;
    border-bottom: 1px solid lightgray;
    z-index: 100;
}
#nav{
    width: 100%;
    position: relative;
    display: flex;
}
#nav #logo{
    width: 80%;
    text-align: center;
}
#nav #menu{
    width: 10%;
}
/* footer 스타일 */
#footer{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid orange;
    padding: 5px;
    background: orange;
}
#copyright{
    color: white;
    text-align: center;
}
/* 메인 */
#main{
    border: 0;

}