/* join.css */

body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#joinWrap {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 400px;
    width: 100%;
}

#joinForm {
    text-align: center;
}

.formData {
    margin-bottom: 20px;
}

.inputField {
    margin-bottom: 20px;
    text-align: left;
}

.inputField label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}

.formInput {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.formInput:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.fieldError {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.joinBt {
    display: flex;
    justify-content: center;
}

.joinBt button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.joinBt button:hover {
    background-color: #0056b3;
}
