<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/main}">
<head>
    <meta charset="UTF-8">
    <title layout:fragment="title">추억의 싸이월드</title>

    <th:block layout:fragment="css">
        <link rel="stylesheet" href="/css/init.css">
    </th:block>
    <th:block layout:fragment="script"></th:block>
</head>
<body>
<div layout:fragment="main" id="main">
    <div id="wrap">
        <div id="cardWrap">
            <div id="top_Menu">
                <!-- 각 프로필과 게시글을 감싸는 컨테이너 -->
                <div class="main_Box" th:each="proF : ${memberLists}">
                    <div class="user_proF_Box">
                        <div class="user_proF_Detail">
                            <div class="profile-image-container">
                                <!-- 프로필 이미지 URL을 정확히 설정 -->
                                <img th:src="@{/guestbook/{fileName}(fileName=${proF.profileImageName})}" alt="프로필 이미지" class="profile-image">
                            </div>
                            <div class="user_proF_Detail_Info">
                                <div class="user_proF_Detail_Name" th:text="${proF.nickName}"></div>
                                <div class="user_proF_Detail_Intro" th:text="${proF.intro}"></div>
                            </div>
                        </div>

                        <!-- 회원정보 페이지로 이동하는 링크 추가 -->
                        <a th:href="'/guestbook/detail?guestbookId=' + ${proF.userId}" class="user-info-link">방명록 방문하기</a>
                    </div>
                    <div class="user_main">
                        <h3>방명록 글 목록</h3>
                        <!-- 게시글 내용 표시 -->
                        <div th:each="post : ${proF.guestbookContents}" class="post-item">
                            <p th:text="${post.content}">게시글 내용</p>
                            <div class="post-writer" th:text="'작성자: ' + ${post.writer}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
