<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{fragment/main}">
<head>
    <meta charset="UTF-8">
    <title layout:fragment="title">방명록</title>

    <th:block layout:fragment="css">
        <link rel="stylesheet" href="/css/guestbook.css">
    </th:block>
    <th:block layout:fragment="script"></th:block>
</head>
<body>
    <div layout:fragment="main" id="main">
        <div id="detailWrap">
            <div id="profCard">
                <div id="profIcon">프로필 사진</div>
                <div id="profDetail">
                    <h3 th:text="${member.nickName}"></h3>
                    <p th:text="${member.email}"></p>
                    <p th:text="${member.intro}"></p>
                </div>
            </div>
            <form method="post" action="/guest/writeComplete" id="inputGuestbook">
                <!-- 방명록 입력 칸은 로그인 상태에서만 보이도록 수정 다 하면 sec:authorize="isAuthenticated()" 추가 -->
<!--                <input type="hidden" id="guestbookId" th:value="">-->
                <input type="hidden" id="writer" value="${session.user}">
                <textarea id="introInput" placeholder="방명록을 입력하세요"></textarea>
                <button id="introBT">작성</button>
            </form>
            <div id="page">페이징을 할 경우 여기?</div>
            <div class="guestbook">
                <div class="guestContent">
                    <div class="guestIcon">프로필 사진</div>
                    <div class="guestBody">방명록 본문</div>
                </div>
                <a href="" class="notify"><i class="fa-solid fa-bell"></i> 신고</a>
            </div>
        </div>
    </div>
</body>
</html>