<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{fragment/main}">
<head>
    <meta charset="UTF-8">
    <title layout:fragment="title">방명록</title>

    <th:block layout:fragment="css">
        <link rel="stylesheet" href="/css/guestbook.css">
    </th:block>
    <th:block layout:fragment="script"></th:block>
</head>
<body>
    <div layout:fragment="main" id="main">
        <div id="detailWrap">
            <div id="profCard">
                <div>방명록 주인 프로필 카드 프로필 사진/닉네임/자기소개 구성</div>
            </div>
            <form method="post" action="/guest/writeComplete" id="inputGuestbook">
                <!-- 방명록 입력 칸은 로그인 상태에서만 보이도록 수정 다 하면 sec:authorize="isAuthenticated()" 추가 -->
                <textarea id="introInput" placeholder="방명록을 입력하세요"></textarea>
                <button id="introBT">작성</button>
            </form>
            <div>페이징을 할 경우 여기?</div>
            <div class="guestbook">
                <div>방명록 작성자의 프로필 사진 / 내용 구성</div>
                <a><i class="fa-solid fa-bell"></i> 신고</a>
            </div>
        </div>
    </div>
</body>
</html>